.tooDoo-task {
  font-size: 1.3rem;
  font-style: italic;
  transition: all 0.5s;
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
  transition: all 1s;
  color: green;
}
.task {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.deleted {
  position: relative;
  opacity: 0;
  animation: move 1s linear;
}
.delete-icon {
}
.delete-icon:hover {
  color: red;
  animation: rotate linear infinite 4s;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move {
  from {
    left: 0;
  }
  to {
    left: 300px;
    color: red;
  }
}
