.tooDooTask {
  font-size: 1.3rem;
  font-style: italic;
  transition: all 0.5s;
  cursor: pointer;
}
.task {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.completed {
  text-decoration: line-through;
  color: green;
}

.deleted {
  animation: move 1s ease-out;
}
.deleteIcon:hover {
  color: red;
}
.deleteIcon.deleted {
  display: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(50px);
    opacity: 0;
    color: red;
  }
}
