.user-card {
  max-width: 100%;
  min-width: 250px;
  border: 2px #54c1f7 solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background: rgb(240, 237, 237);
  position: relative;
  transition: all 0.7s ease-out;
  cursor: pointer;
  opacity: 0.7;
}
.user-card:nth-child(2n) {
  border: 0.2rem #5ff3d3 solid;
}
.user-card:nth-child(-n + 5):hover {
  transform: translate(0, -2rem);
  opacity: 1;
  border: 0.2rem #3cff00 solid;
}
.user-card:nth-child(n + 6):hover {
  transform: translate(0, +2rem);
  opacity: 1;
  border: 0.2rem #31f300 solid;
}
.user-card:nth-child(n + 6):hover > h2 {
  color: rgb(255, 74, 68);
}

.user-realName {
  margin: 10px auto;
  font-size: medium;
  text-align: center;
}
