.user-card {
  max-width: 100%;
  border: 2px #54c1f7 solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background: rgb(240, 237, 237);
  position: relative;
  transition: all 0.7s ease-out;
  cursor: pointer;
}
.user-card:hover {
  transform: translate(0, -2rem);
  opacity: 0.9;
}

.user-card:nth-child(2n) {
  border: 0.5rem #5ff3d3 solid;
}
.user-realName {
  margin: 10px auto;
  font-size: medium;
  text-align: center;
}
.user-realName:nth-child(n3 + 1) .user-name span {
  color: rgb(122, 121, 121);
  text-shadow: -1px -1px 7px rgba(150, 150, 150, 1);
}
