.tooDooInput {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 2rem;
  margin-right: 2rem;
  border: 1px solid #e9fbe2;
  border-radius: 3px;
  outline: none;
  transition: all ease-out 0.3s;
}
.tooDooInput:focus {
  outline: 0.1rem rgb(8, 248, 8) solid;
}
.tooDooInputButton {
  padding: 0px;
  max-height: 2.5rem;
  width: 15%;
}
.inputField {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 4.5rem;
  justify-content: space-between;
}
