.tooDoo-input {
  box-sizing: border-box;
  width: 85%;
  margin-bottom: 2rem;
  font: larger !important;
  margin-right: 2rem;
}
.tooDoo-input-button {
  padding: 0px;
  max-height: 2.5rem;
  width: 15%;
}
.input-field {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 4rem;
  justify-content: space-between;
}
