.tooDoo {
  width: 500px;
  min-height: 350px;
  background: linear-gradient(15deg, #ffffff9d 10%, #93d8fa 45%);
  padding: 20px;
  margin: 0 auto;
  box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px 10px 44px 10px;
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 10rem;
}
