.wrapper {
  display: flex;
}
.link {
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-decoration: none !important;
  transition: all ease 0.5s;
}
.link:hover {
  color: aqua;
  opacity: 0.7;
}
